{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<article class="{{ if $image.exists }}has-image{{ end }}">
    <a href="{{ .context.RelPermalink }}">
        
        {{ if $image.exists }}
            <div class="article-image">
                {{ if $image.resource }}
                    {{- $src := $image.resource.RelPermalink -}}
                    {{- $alt := printf "Featured image of post %s" .context.Title -}}
                    {{ partial "helper/optimised_image_partial.html" (dict "resource" $image.resource "alt" $alt "loading" "eager" "fetchpriority" "high" "src" $src "Context" .context) }}
                {{ else if $image.permalink }}
                    <img src="{{ $image.permalink }}" alt="{{ printf "%s" .context.Title }}" loading="eager" fetchpriority="high">
                {{ end }}
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
        </div>
    </a>
</article>