{{/* Homepage template - displays paginated list of articles */}}
{{ define "main" }}
    {{/* Get all regular pages from main sections (e.g., posts) */}}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    
    {{/* Filter out any pages marked as hidden */}}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    
    {{/* Set up pagination */}}
    {{ $pag := .Paginate ($filtered) }}

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" (dict "context" $element "isFirstArticle" (eq $index 0)) }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
