{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" -}}
{{- $caption := .Get "caption" -}}
{{- $sizes := .Get "sizes" -}}
{{- $loading := .Get "loading" -}}
{{- $fetchpriority := .Get "fetchpriority" -}}

{{- $imageResource := "" -}}
{{- if hasPrefix $src "http" -}}
  {{- $imageResource = resources.GetRemote $src -}}
{{- else -}}
  {{- $imageResource = $.Page.Resources.GetMatch $src -}}
{{- end -}}

{{ partial "helper/optimised_image_partial.html" (dict
    "resource" $imageResource
    "src" $src
    "alt" $alt
    "caption" $caption
    "sizes" $sizes
    "loading" $loading
    "fetchpriority" $fetchpriority
    "Context" .
)}}